@model PetStore.Models.Pet.PetListing
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div>
    @using (Ajax.BeginForm("Search", "Pets", null, new AjaxOptions { HttpMethod = "get", InsertionMode = InsertionMode.Replace, UpdateTargetId = "petList" }, null))
    {
        @Html.DropDownList("AnimalTypeID", Model.AnimalTypes, string.Empty);
        <input type="submit" value="Search" class="btn btn-primary" />
    }
</div>
<div id="petList">
    @Html.Partial("_PetList", Model)
</div>
