USE [PetStore]
GO
/****** Object:  Table [dbo].[AnimalTypes]    Script Date: 12/09/2017 3:58:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AnimalTypes](
	[AnimalTypeID] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](100) NULL,
 CONSTRAINT [PK_dbo.AnimalTypes] PRIMARY KEY CLUSTERED 
(
	[AnimalTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Pets]    Script Date: 12/09/2017 3:58:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pets](
	[AnimalTypeID] [uniqueidentifier] NOT NULL,
	[ID] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[DateOfBirth] [datetime] NOT NULL,
	[Weight] [float] NOT NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Pets] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
INSERT [dbo].[AnimalTypes] ([AnimalTypeID], [Name]) VALUES (N'dcff12f5-b98e-43e4-9f8b-31612d9f1a1c', N'Donkey')
GO
INSERT [dbo].[AnimalTypes] ([AnimalTypeID], [Name]) VALUES (N'4c2f6df8-b66c-4efd-bf8a-7029d2f1cd26', N'Pigs')
GO
INSERT [dbo].[AnimalTypes] ([AnimalTypeID], [Name]) VALUES (N'2859aa47-2f40-4ae4-b47d-7d492aa8a4f1', N'Elephant')
GO
INSERT [dbo].[Pets] ([AnimalTypeID], [ID], [Name], [DateOfBirth], [Weight], [Description]) VALUES (N'4c2f6df8-b66c-4efd-bf8a-7029d2f1cd26', N'553b35ab-aa7c-487c-9c58-0b263156f4f9', N'miss piggy', CAST(N'2010-01-01 00:00:00.000' AS DateTime), 100, N'ziggy')
GO
INSERT [dbo].[Pets] ([AnimalTypeID], [ID], [Name], [DateOfBirth], [Weight], [Description]) VALUES (N'4c2f6df8-b66c-4efd-bf8a-7029d2f1cd26', N'e70fa1fa-181a-4a31-bbe6-0d178816093c', N'fatty', CAST(N'2002-01-01 00:00:00.000' AS DateTime), 100, N'fat')
GO
INSERT [dbo].[Pets] ([AnimalTypeID], [ID], [Name], [DateOfBirth], [Weight], [Description]) VALUES (N'677fa900-bcda-4904-8e5f-dbb300372caf', N'19bafd73-4c89-4d7d-9492-18f88d3f61a6', N'ronan', CAST(N'2009-01-01 00:00:00.000' AS DateTime), 12, N'poor')
GO
ALTER TABLE [dbo].[Pets]  WITH CHECK ADD  CONSTRAINT [FK_Pets_AnimalTypes] FOREIGN KEY([AnimalTypeID])
REFERENCES [dbo].[AnimalTypes] ([AnimalTypeID])
GO
ALTER TABLE [dbo].[Pets] CHECK CONSTRAINT [FK_Pets_AnimalTypes]
GO
